{% extends "base.html" %}

{% block content %}
<form method="POST" class="needs-validation" novalidate>
            
        <div class="card shadow-sm" style="max-width: 400px; margin: auto;">
            <div class="card-body">
                <h5 class="card-title text-center mb-4">Login</h5>
                <form method="POST" class="needs-validation" novalidate>
                    {{ form.hidden_tag() }}

                    <div class="mb-3">
                        {{ form.username.label(class="form-label") }}
                        {{ form.username(class="form-control", size=32, placeholder="Enter username") }}
                    </div>

                    <div class="mb-3">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control", size=32, placeholder="Enter password") }}
                    </div>
                    
                    {% if not current_user.is_authenticated %}
                    <div class="d-grid">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                    {% endif %}

                </form>

                {% if current_user.is_authenticated %}
                    <form method="POST" action="{{ url_for('auth.logout') }}">
                        <div class="d-grid">
                        {{ form_b.hidden_tag() }}
                        {{ form_b.submit_b(class="btn btn-danger") }}
                        </div>
                    </form>
                {% endif %}

                <hr class="w-50">
                <p class="mt-3">Don't have an account yet?</p>
                <a href="{{ url_for('auth.register') }}" class="btn btn-outline-secondary">Register</a>
            </div>
        </div>

</form>
{% endblock %}