{% extends "base.html" %}

{% block content %}
<from method="POST" class="needs-validation" novalidate>
	<div class="mb-3">
		<label for="name" class="form-label">Name</label>
		<input type="text" class="form-control" id="name" name="name" required>
	</div>
	<div class="mb-3">
		<label for="message" class="form-label">Message</label>
		<textarea class="form-control" id="message" name="message" rows="4" required></textarea>
	</div>
	<button type="submit" class="btn btn-primary">Send</button>
</from>
	<h2>Contact here</h2>
{% endblock %}
